<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Start New Conversion</title>
			<subitems>
				<subitem>
					<subitemtitle>Start New Conversion</subitemtitle>
					<subsection>instances</subsection>
					<subitemurl>do=add</subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Show Instances</title>
			<subitems>
				<subitem>
					<subitemtitle>Show Instances</subitemtitle>
					<subsection>instances</subsection>
					<subitemurl>do=index</subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Manage Conversions</title>
			<subitems>
				<subitem>
					<subitemtitle>Manage Conversions</subitemtitle>
					<subsection>manage</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Lock System</title>
			<subitems>
				<subitem>
					<subitemtitle>Lock System</subitemtitle>
					<subsection>lock</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>